* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
    color: #111;
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    transition: all 0.25s ease;
    color: inherit;
}

button{
    transition: 0.3s ease-in;
}

section {
    padding: clamp(4rem, 8vw, 6rem) 2rem;
}

.nav-container,
.hero-container,
.logos-container,
.features-container,
.why-container,
.reviews-container,
.faq-container,
.cta-container,
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}



.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
} 

.logo svg{
    width: 22px;
    height: 22px;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-size: 0.95rem;
    font-weight: 500;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: 600;
}

.btn-primary svg{
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.btn-primary:hover svg{
    transform: translateX(5px);
}

.btn-primary:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.mobile-menu {
    background: transparent;
    border: none;
    padding: 10px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.mobile-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #111;
    margin: 3px 0;
    transition: 0.3s;
}


/*HERO SECTION*/
.hero {
    padding-top: 6rem;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.hero-content {
    max-width: 520px;
}

.hero-badge {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: #4d4d4d;
}

.hero-content h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

.hero-content p {
    color: #555;
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.btn-secondary {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ddd;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: 600;
}

.btn-secondary svg{
    width: 16px;
    height: 16px;
}

.hero-rating {
    font-size: 0.9rem;
    color: #777;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    border-radius: 3rem;
}

/*LOGO SECTION*/
.logos {
    padding: 3rem 0;
    background-color: #fafafa;
}

.logos-text {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 2rem;
}

.logos-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.logos-row img {
    height: 35px;
    opacity: 0.6;
    filter: grayscale(100%);
}

/*HOVER STATES*/
.feature,
.review-card,
.why-card {
  transition: transform 0.3s ease;
}

.feature:hover,
.review-card:hover,
.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.06);
}

/*FEATURES SECTION*/
.features {
    background: #ffffff;
}

.features h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.feature {
    background: #f9fafb;
    padding: 2.5rem;
    border-radius: 12px;
}

.feature svg{
    width: 25px;
    height: 25px;
    margin-bottom: 1rem;
}

.feature h3 {
    margin-bottom: 0.9rem;
}

.feature p {
    color: #555;
}

.feature-large {
    grid-column: span 2;
}

/*WHY SECTION*/
.why-us {
    background-color: #f9fafb;
}

.why-us h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.why-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
}

.why-card h3 {
    margin-bottom: 0.9rem;
}

.why-card p {
    color: #555;
    font-size: 0.95rem;
}

/*REVIEWS SECTION*/
.reviews {
    background-color: #ffffff;
}

.reviews h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.stars{
    display: flex;
    gap: 0.50rem;
    margin-bottom: 1rem;
}

.stars svg{
    width: 15px;
    height: 15px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.review-card {
    background-color: #f9fafb;
    padding: 2rem;
    border-radius: 12px;
}

.review-card p {
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 1.5rem;
}

.review-card h4 {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.review-card span {
    font-size: 0.85rem;
    color: #777;
}

/*FAQ SECTION*/
.faq {
    background-color: #f9fafb;
}

.faq h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.faq-item h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.faq-item p {
    color: #555;
    font-size: 0.95rem;
}

.faq-item {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding: 0 1.5rem 1.5rem;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question span {
    transform: rotate(45deg);
}

.faq-question span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.final-cta {
    background: linear-gradient(135deg, #111, #444);
    color: #ffffff;
    text-align: center;
}



.cta-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 1.3rem;
}

.final-cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.final-cta p {
    max-width: 600px;
    margin: 0 auto 2rem;
    opacity: 0.9;
}

/*FOOTER SECTION*/
.footer {
    background: #111;
    color: #ccc;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1.5rem 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
}

.footer-brand h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-brand p {
    max-width: 320px;
    font-size: 0.95rem;
}

.footer-links h4 {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-links a {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color: #ccc;
}

.footer-links a:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #222;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.85rem;
}

/*MOBILE RESPONSIVENESS*/
@media (max-width: 800px) {
    .navbar {
        backdrop-filter: none;
    }

    .mobile-menu {
        display: flex;
    }

    .nav-links {
        height: calc(100vh - 70px);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.4rem !important;
        padding: 5rem 1.5rem;
        display: none;
        border-bottom: 1px solid #eee;
        backdrop-filter: blur(10px);
    }



    .mobile-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(8px);
    }

    .mobile-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(-8px);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-cta {
        display: none;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-btns {
        justify-content: center;
        white-space: nowrap;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .feature-large {
        grid-column: span 1;
    }

    .why-grid {
        grid-template-columns: 1fr;
    }

    .reviews-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand p {
        margin: 0 auto;
    }

}
